
.expensesTableWrap div#controlled-tab-example-tabpane-FullName ul .scrollItemsBox {
  overflow-y: auto;
  height: 285px;
}
.expensesTableWrap .total_turnover {
  color: var(--Gray-500, #667085);
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.14px;
}
.expensesTableWrap .mainStyle.category {
  color: var(--Gray-400, #98A2B3);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.14px;
}
.expensesTableWrap .selected-row .mainStyle.category {
 color: #344054;
}
.expensesTableWrap .expensesTableWrap table thead tr th:nth-child(3) {
  position: sticky;
  left: 158px;
  z-index: 5;
  border-right: 1px solid var(--color10) !important;
}
.expensesTableWrap .expensesTableWrap table thead tr th:nth-child(2) {
  position: sticky;
  left: 36px;
  z-index: 5;
  border-right: 1px solid var(--color10) !important;
  width: 130px;
}

.expensesTableWrap .styleborderbox {
  border-radius: 16px;
  border: 1px solid var(--Primary-200, #E9D7FE);
  background: var(--Primary-25, #FCFAFF);
  color: var(--Primary-500, #9E77ED);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  display: inline-block;
  min-width: 60px;
  text-align: center !important;
  margin: 0 auto;
}
.expensesTableWrap .darkborderbox {
  border-radius: 16px;
  border: 1px solid var(--Success-200, #ABEFC6);
  background: var(--Success-50, #ECFDF3);
  mix-blend-mode: multiply;
  color: var(--Success-700, #067647);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  display: inline-block;
  padding: 2px 8px;
}
.expensesTableWrap .isbusinessIcon .iconBuilding {
  width: 24px;
  height: 24px;
  background: linear-gradient(180deg, #F9FAFB 0%, #EDF0F3 100%);
  border-radius: 4px;
  border: 0.75px solid #10182826;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  padding: 2px;
}
.expensesTableWrap .isbusinessIcon .iconPerson {
  width: 24px;
  height: 24px;
  background: linear-gradient(180deg, #F9FAFB 0%, #EDF0F3 100%);
  border-radius: 19px;
  border: 0.75px solid #10182826;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  padding: 2px;
}
.expensesTableWrap .textLeft span {
  text-align: left;
}
.expensesTableWrap .intervalorder {
  border-radius: 30px;
  border: 1px solid var(--Gray-300, #D0D5DD);
  background: var(--Base-White, #FFF);
  padding: 2px 6px;
  color: var(--Gray-700, #344054);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  display: inline-block;
}
.expensesTableWrap .totalpayEx .lineVerticle {
  position: relative;
  padding: 0 2px 0 6px;
  display: inline-block;
}
.expensesTableWrap .totalpayEx .lineVerticle:before {
  position: absolute;
  height: 100%;
  width: 1px;
  background: #A9EFC5;
  content: "";
  top: 0;
  bottom: 0;
}
/* .totalpayEx .lineVerticle svg {
  margin-left: 4px;
  margin-top: -2px;
} */
.expensesTableWrap .departmentstyle {
  color: var(--Gray-700, #344054);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.12px;
}
.expensesTableWrap .spaceBorder img,.spaceBorder .icon {
  border-radius: 100%;
  border: 0.75px solid #e0e0e0;
  width: 32px;
  height: 32px;
  object-fit: cover;
  float: left;
  padding: 2px;
}
.expensesTableWrap .duedate {
  color: #667085;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.12px;
}
.expensesTableWrap .totalpayEx {
  color: var(--Success-700, #067647);
  display: inline-block;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  padding-left: 8px;
  border-radius: 16px;
  border: 1px solid var(--Success-200, #A9EFC5);
  background: var(--Success-50, #ECFDF3);
  float: right;
}
 .exstatus {
  border-radius: 16px;
  border: 1px solid var(--Success-200, #ABEFC6);
  background: var(--Success-50, #ECFDF3);
  mix-blend-mode: multiply;
  color: #085D3A;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  padding: 2px 8px 2px 8px;
  display: inline-block;
  text-transform: capitalize;
}

 .exstatus.paidfalse {
  border-radius: 16px;
  border: 1px solid var(--Error-200, #FECDCA);
  background: var(--Error-50, #FEF3F2);
  mix-blend-mode: multiply;
  color: var(--Error-700, #B42318);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-transform: capitalize;
}
 .exstatus.paidfalse .dots{
  background: #F04438;
}
 .exstatus .dots {
  background: #17B26A;
  width: 8px;
  height: 8px;
  content: "";
  border-radius: 100%;
  display: inline-block;
  margin-left: 0px;
}
 .accountCode {
  color: var(--Gray-500, #667085);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.12px;
}
 .paidtrue .modelHeader h3 {
  color: var(--Gray-700, #344054);
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.33px;
  margin: 0;
  padding: 0;
}
 .modelStyleBoxstatus{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    background: var(--Base-White, #FFF);
    box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
    padding: 0px;
}
 .expenseStatusbut {
  padding: 0 !important;
  float: left;
}
 .paidtrue .modelHeader {
  padding: 24px;
  border-bottom: 1px solid #EAECF0;
  align-items: center !important;
}
 .paidtrue .stepBoxStyle {
  padding: 24px;
}
 .paidtrue .stepBoxStyle p {
  color: var(--Gray-700, #344054);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.08px;
  margin: 4px 0;
}
 .paidtrue .stepBoxStyle h5 {
  color: var(--Gray-600, #475467);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.08px;
  margin-bottom: 18px;
}
 .paidtrue .stepBoxStyle .borderBox {
  border-radius: var(--radius-xl, 12px);
  border: 1px solid var(--Success-200, #A9EFC5);
  background: var(--Success-50, #ECFDF3);
  mix-blend-mode: multiply;
  color: var(--Success-700, #067647);
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.39px;
  display: inline-block;
  padding: 2px 16px 2px 12px;
}
 .paidtrue .stepBoxStyle .borderBox .dots {
  background: #17B26A;
  width: 8px;
  height: 8px;
  content: "";
  border-radius: 100%;
  display: inline-block;
  margin-right: 7px;
  margin-bottom: 4px;
}
 .paidtrue .footerButton {
  padding: 24px;
  border-top: 1px solid #EAECF0;
  align-items: center !important;
  text-align: right;
}
 .paidtrue .footerButton .clickpaid {
  border-radius: 4px;
  background: var(--Success-500, #17B26A);
  padding: 10px 18px;
  color: var(--Base-White, #FFF);
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  line-height: 24px;
  border: 1px solid #17B26A;
}
 .paidtrue .footerButton .Cancel {
  border-radius: 4px;
  border: 1px solid var(--Gray-300, #D0D5DD);
  background: var(--Base-White, #FFF);
  padding: 10px 18px;
  margin-right: 12px;
  color: var(--Gray-700, #344054);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}


 .paidfalse   .modelHeader {
  padding: 24px;
  border-bottom: 1px solid #EAECF0;
  align-items: center !important;
}
 .paidfalse .stepBoxStyle {
  padding: 24px;
}
 .paidfalse .stepBoxStyle p {
  color: var(--Gray-700, #344054);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.08px;
  margin: 4px 0;
}
 .paidfalse .stepBoxStyle h5 {
  color: var(--Gray-600, #475467);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.08px;
  margin-bottom: 18px;
}
 .paidfalse .stepBoxStyle .borderBox {
  border-radius: var(--radius-xl, 12px);
  border: 1px solid var(--Error-200, #FECDCA);
  background: var(--Error-50, #FEF3F2);
  mix-blend-mode: multiply;
  display: inline-block;
  padding: 2px 16px 2px 12px;
  color: var(--Error-700, #B42318);
  text-align: center;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.39px;
}
 .paidfalse .stepBoxStyle .borderBox .dots {
  background: #F04438;
  width: 8px;
  height: 8px;
  content: "";
  border-radius: 100%;
  display: inline-block;
  margin-right: 7px;
  margin-bottom: 4px;
}
 .paidfalse .footerButton {
  padding: 24px;
  border-top: 1px solid #EAECF0;
  align-items: center !important;
  text-align: right;
}
 .paidfalse .footerButton .clickpaid {
  border-radius: 4px;
  background: var(--Success-500, #D92D20);
  padding: 10px 18px;
  color: var(--Base-White, #FFF);
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  line-height: 24px;
  border: 1px solid #D92D20;
}
 .paidfalse .footerButton .Cancel {
  border-radius: 4px;
  border: 1px solid var(--Gray-300, #D0D5DD);
  background: var(--Base-White, #FFF);
  padding: 10px 18px;
  margin-right: 12px;
  color: var(--Gray-700, #344054);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
 .statusEx .paidtrue {
  border-radius: 16px;
  border: 1px solid var(--Success-200, #ABEFC6);
  background: var(--Success-50, #ECFDF3);
  mix-blend-mode: multiply;
  padding: 2px 8px;
  color: var(--Success-700, #067647);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
 .statusEx .paidfalse {
  border-radius: 16px;
  border: 1px solid var(--Error-200, #FECDCA);
  background: var(--Error-50, #FEF3F2);
  mix-blend-mode: multiply;
  padding: 2px 8px;
  color: var(--Error-700, #B42318);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.expensesTableWrap .statusEx .countStatus1 {
  border-radius: 16px;
  border: 1px solid var(--Gray-200, #EAECF0);
  background: var(--Base-White, #FFF);
  color: var(--Gray-700, #344054);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  padding: 2px 8px;
  margin-left: 16px;
}
.expensesTableWrap .styleColor1 strong {
  color: #667085;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.14px;
  text-wrap: nowrap;
}
.expensesTableWrap .styleColor1 p {
  color: var(--colorG6);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.12px;
  margin: 0;
  text-wrap: nowrap;
}
.expensesTableWrap .supplierPhoto img {
  border-radius: 100%;
  border: 0.75px solid #e0e0e0;
  width: 32px;
  height: 32px;
  object-fit: cover;
  float: left;
  padding: 2px;
}
.expensesTableWrap  .styleColor2 {
  color: var(--colorG4);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .14px;
  line-height: 22px;
}
.expensesTableWrap .innerFlex {
  align-items: center;
  display: flex;
  text-align: left;
}
.expensesTableWrap .styleColor2 {
  color: var(--colorG1);
}
.expensesTableWrap .spaceBorder .icon, .expensesTableWrap .spaceBorder img {
  border: 0px solid #e0e0e0;
  border-radius: 0;
  float: left;
  height: 32px;
  object-fit: cover;
  padding: 2px;
  width: 32px;
}

.expensesTableWrap table tbody tr td:nth-child(2) {
  padding-left: 7px !important;
}
.expensesTableWrap table thead tr th:first-child, .expensesTableWrap table tbody tr td:first-child {
  position: sticky;
  left: 0;
  width: 40px;
  z-index: 8;
  border-right: 0;
  text-align: left;
  padding: 0px 6px 0 16px !important;
}
.expensesTableWrap table thead tr th:nth-child(2) {
  position: sticky;
  left: 40px;
  z-index: 8;
  border-right: 1px solid var(--color10) !important;
  padding-left: 7px !important;
}
.expensesTableWrap .styleColor1 {
  text-align: left;
}

.expensesTableWrap .totalpaytotal {
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.expensesTableWrap .Style344054 {
  color: var(--Gray-700, #344054);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.14px;
}
.expensesTableWrap .totalpaytotal span.plusIcon {
  border-radius: 16px;
  padding: 1px;
  margin-left: 8px;
  display: inline-flex;
  cursor: pointer;
}
.expensesTableWrap tr.true td {
  border-bottom: 1px solid var(--Gray-200, #EAECF0);
  background: var(--Success-25, #F6FEF9);
}
.expensesTableWrap tr.false td {
  border-bottom: 1px solid var(--Gray-200, #EAECF0);
background: var(--Error-25, #FFFBFA);
}
.expensesTableWrap tr.false td .totalpaytotal span.plusIcon {
  border: 1px solid var(--Success-200, #FECDCA);
  background: #FEF3F2;
}
.expensesTableWrap tr.false td .totalpaytotal span.plusIcon svg {
 fill: #D92D20;
}
.expensesTableWrap tr.true td .totalpaytotal span.plusIcon {
  border: 1px solid var(--Success-200, #A9EFC5);
}
.expensesTableWrap tr.true td .totalpaytotal span.plusIcon svg {
 fill: #079455;
}
.expensesTableWrap tr.false td .totalpaytotal {
color: var(--Success-900, #7A271A);
}












@media only screen and (max-width: 1600px) and (min-width: 1280px)  {
  .expensesTableWrap .mainStyleMin {
    width: 221px;
  }
  .expensesTableWrap table thead tr th:nth-child(3) {
    position: sticky;
    left: 131px;
    z-index: 5;
    border-right: 0px solid var(--color10) !important;
}
  .expensesTableWrap .table-responsive {
    overflow-x: auto;
}
.expensesTableWrap .select-menu {
  position: relative;
  width: 200px;
}
 .expensesTableWrap table thead tr th:nth-child(2), .expensesTableWrap table tbody tr td:nth-child(2) 
{
    position: sticky;
    left: 42px;
   
    z-index: 8;
    border-right: 0px solid var(--color10) !important;
    padding-left: 0px !important;
}
.expensesTableWrap table tbody tr td:nth-child(2):before
{
    position: absolute;
    background: var(--color10);
    content: "";
    right: 0;
    width: 1px;
    height: 100%;
    top: 0;
}
.expensesTableWrap table thead tr th:nth-child(2):before
{
    position: absolute;
    background: var(--color10);
    content: "";
    right: 0;
    width: 1px;
    height: 100%;
    top: 0;
    z-index: 0;
} 

.expensesTableWrap table thead tr th:nth-child(3) {
left: 406px;
}
.expensesTableWrap table thead tr th:nth-child(3), .expensesTableWrap table tbody tr td:nth-child(3) {
  position: sticky;
  left: 139px;
  border-left: 0  !important;
  border-right: 0px solid var(--color10) !important;
  z-index: 8;
}
.expensesTableWrap tr td {
  white-space: nowrap !important;
}
.expensesTableWrap table tbody tr td:nth-child(3)::after,.expensesTableWrap table thead tr th:nth-child(3)::after {
  position: absolute;
  background: var(--color10);
  content: "";
  right: 0;
  width: 1px;
  height: 100%;
  top: 0;
  box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.10);
  z-index: 0;
} 
.expensesTableWrap table thead tr th:nth-child(2) {
  left: 42px;
}
.expensesTableWrap .styleColor1 {
  text-align: left;
  white-space: nowrap;
}
}