.modal {
  width: 600px;
  height: 100vh;
  border-radius: var(--radius-xs, 4px);
  background: var(--Base-White, #fff);
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08),
    0px 8px 8px -4px rgba(16, 24, 40, 0.03);
}

.modalHeader {
  gap: 16px;
  display: flex;
  align-items: center;
}

.modalFooter {
  gap: 16px;
  display: flex;
  padding: 0px 0px 0px 0px;
  justify-content: flex-end;
}

.border {
  border: 1px solid #f2f4f7 !important;
}

.label {
  color: var(--Gray-600, #475467);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.14px;
}
