.active {
  background: #ebf8ff !important;
}

.selectedCount {
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
  color: var(--Primary-500, #1ab2ff);
}

.filterBox {
  display: flex;
  padding: var(--spacing-sm, 2px) var(--spacing-md, 2px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md, 8px);
  border-radius: var(--radius-xs, 4px);
  border: 1px solid var(--Gray-300, #d0d5dd);
  background: #fff;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.newButton,
.newButton:hover,
.newButton:focus,
.newButton:active {
  gap: 8px;
  display: flex;
  padding: 4px 14px;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--Orange-600, #d59346);
  background: var(--Orange-600, #d59346) !important;
}

.total {
  color: var(--Gray-600, #475467);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.08px;
}

.totalCount {
  color: #ffc301;
  text-align: center;
  display: flex;
  padding: var(--spacing-xxs, 2px) var(--spacing-md, 8px);
  align-items: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 183.333% */
  letter-spacing: 0.12px;
  border-radius: 16px;
  border: 1px solid #fff0c1;
  background: #fffaeb;
}

/* Jobs table css */
.shadowRight {
  box-shadow: 0 0 6px #dedede;
  clip-path: inset(0px -6px 0px 0px);
}

.payment {
  display: flex;
  min-width: 47px;
  padding: var(--spacing-xxs, 2px) var(--spacing-sm, 6px);
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-xs, 4px);
}

.paymentHours {
  color: var(--Orange-700, #ac7535);
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid var(--Orange-300, #ffd19b);
  background: var(--Orange-25, #fff7ee);
}

.paymentFix {
  color: var(--Gray-700, #344054);
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid var(--Gray-300, #d0d5dd);
  background: var(--Gray-25, #fcfcfd);
}

.paymentTracker {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: var(--Gray-700, #344054);
  background: var(--Primary-50, #ebf8ff);
  border: 1px solid var(--Primary-200, #a3e0ff);
}

.time {
  color: var(--Primary-700, #106b99);
  text-align: center;

  /* Text xs/Medium */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  display: flex;
  padding: var(--spacing-xxs, 2px) var(--spacing-md, 8px)
    var(--spacing-xxs, 2px) var(--spacing-sm, 6px);
  align-items: center;
  gap: var(--spacing-xs, 4px);
  border-radius: 16px;
  border: 1px solid var(--Primary-200, #a3e0ff);
  background: var(--Primary-50, #ebf8ff);
}

.time.tracker {
  color: var(--Success-700, #067647);
  text-align: center;

  /* Text xs/Medium */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  border-radius: 16px;
  border: 1px solid var(--Success-200, #a9efc5);
  background: var(--Success-50, #ecfdf3);
}

.clientImg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
  margin-right: 10px;
  border-radius: 34px;
  border: 0.75px solid #ccc;
  background: linear-gradient(180deg, #f9fafb 0%, #edf0f3 100%);
}

.square.clientImg {
  border-radius: 4px !important;
}

.clientName {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  font-size: 12px;
  overflow: hidden;
  margin-right: 10px;
  border-radius: 34px;
  border: 0.75px solid #ccc;
  background: linear-gradient(180deg, #f9fafb 0%, #edf0f3 100%);
}

.defaultStatus {
  font-size: 12px;
  padding: 2px 6px;
  line-height: 18px;
  font-weight: 500;
  color: #344054;
  border-radius: 16px;
  border: 1px solid #eaecf0;
  background: #f9fafb;
}

.status {
  font-size: 12px;
  padding: 2px 6px;
  line-height: 18px;
  font-weight: 500;
  border-radius: 16px;
}

.DRAFT {
  color: #344054;
  border: 1px solid var(--Gray-200, #eaecf0);
  background: var(--Gray-50, #f9fafb);
}

.OPEN {
  color: #A43FA9;
  border: 1px solid #FDDDFF;
  background: #FDDDFF;
}

.ASSIGNED {
  color: #624CA7;
  border: 1px solid #CABAFF;
  background: #E7E0FF;
}

.CONFIRMED {
  color: #097E6B;
  border: 1px solid #BDF6EA;
  background: #EFFFFC;
}

.DECLINED {
  color: #B42318;
  border: 1px solid #FDA29B;
  background: #FEE4E2;
}

.SUBMITTED {
  color: #026AA2;
  border: 1px solid #B9E6FE;
  background: #F0F9FF;
}

.FINISHED {
  color: #2B7A0B;
  border: 1px solid #CAEDBA;
  background: #E2FBD7;
}

.IN_PROGRESS {
  color: #B96F39;
  border: 1px solid #FFCDA9;
  background: #FFF2E9;
}

.type {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shift {
  color: var(--Basic-Dark-Basic, #191c1f);
  text-align: center;

  /* Body small */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 183.333% */
  letter-spacing: 0.12px;
  display: flex;
  padding: 0px 6px 0px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px 0px 0px 100px;
  border-top: 1px solid var(--statuses-types-light-green, #dafd90);
  border-bottom: 1px solid var(--statuses-types-light-green, #dafd90);
  border-left: 1px solid var(--statuses-types-light-green, #dafd90);
  background: var(--statuses-types-light-green, #dafd90);
}

.fix,
.hours {
  color: var(--Basic-Dark-Basic, #191c1f);
  text-align: center;

  /* Body small */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 183.333% */
  letter-spacing: 0.12px;
  display: flex;
  padding: 0px 8px 0px 6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 0px 100px 100px 0px;
  border: 1px solid var(--statuses-types-light-green, #dafd90);
  background: #fff;
}

.timeFrame {
  color: var(--Basic-Dark-Basic, #191c1f);
  text-align: center;

  /* Body small */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 183.333% */
  letter-spacing: 0.12px;
  display: flex;
  padding: 0px 6px 0px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px 0px 0px 100px;
  border-top: 1px solid var(--statuses-types-light-yellow, #faf48d);
  border-bottom: 1px solid var(--statuses-types-light-yellow, #faf48d);
  border-left: 1px solid var(--statuses-types-light-yellow, #faf48d);
  background: var(--statuses-types-light-yellow, #faf48d);
}

.timeTracker {
  color: var(--Basic-Dark-Basic, #191c1f);
  text-align: center;

  /* Body small */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 183.333% */
  letter-spacing: 0.12px;
  display: flex;
  padding: 0px 6px 0px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px 0px 0px 100px;
  border-top: 1px solid #eecbff;
  border-bottom: 1px solid #eecbff;
  border-left: 1px solid #eecbff;
  background: var(--statuses-types-light-purple, #eecbff);
}

.timeFrame2 {
  color: var(--Basic-Dark-Basic, #191c1f);
  text-align: center;

  /* Body small */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 183.333% */
  letter-spacing: 0.12px;
  display: flex;
  padding: 0px 8px 0px 6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 0px 100px 100px 0px;
  border: 1px solid var(--statuses-types-light-yellow, #eecbff);
  background: #fff;
}

.linkToProjectCard {
  color: var(--Gray-400, #98a2b3);

  /* Body default */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.14px;
}

tr:hover .linkToProjectCard {
  color: var(--Primary-600, #158ecc);

  /* Body default */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.14px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
// Highlight row for notification redirects
:global(.highlight-row) {
  td {
    background-color: #FFF4E6 !important;
  }
}
