.circleDesignStyle {
  .out {
    border-radius: 28px;
    border: 6px solid var(--Success-50, #ecfdf3);
    background: var(--Success-100, #dcfae6);
    padding: 6px;
  }
}

.taskTitleInput {
  color: var(--Gray-900, #101828);

  /* Title subsection */
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.33px;
  padding: 10px 14px;
  border: 1px solid #fff;
  position: relative;
  left: -12px;

  &:focus {
    padding: 10px 14px;
    border-radius: 4px;
    border: 1px solid var(--Gray-300, #d0d5dd);
  }
}

.formLabel {
  color: var(--Gray-600, #475467);

  /* body default medium */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.14px;
}

.taskDescriptionInput {
  color: var(--Gray-900, #101828);
  overflow: hidden;
  /* Text md/Regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  padding: 10px 14px;
  border: 1px solid #fff;
  outline: none !important;
  position: relative;
  left: -10px;
  min-height: 200px;
  &::placeholder {
    color: var(--Gray-400, #98a2b3);

    /* Text md/Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }

  &:focus {
    padding: 10px 14px;
    border-radius: 4px;
    border: 1px solid var(--Gray-300, #d0d5dd) !important;
    box-shadow: none !important;
  }
}

.projectDropdown {
  left: -10px;
  position: relative;
  border: none;
  &:focus {
    border: 1px solid var(--Gray-300, #d0d5dd) !important;
  }
}