.topBarText {
  color: var(--Gray-700, #344054);

  /* Body default */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.14px;
}

.subMenuLink:hover {
  border-radius: 6px;
  background: var(--Gray-50, #f9fafb);
}
