.topBarText {
  color: var(--Gray-700, #344054);

  /* Body default */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.14px;
}

.subMenuLink:hover {
  border-radius: 6px;
  background: var(--Gray-50, #f9fafb);
}

.subMenuLink.active {
  border-radius: 6px;
  background: var(--Gray-50, #f9fafb);
}

.newButton,
.newButton:hover,
.newButton:focus,
.newButton:active {
  gap: 8px;
  width: fit-content;
  height: 28px;
  display: flex;
  font-size: 14px;
  padding: 16px 14px !important;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background: var(--Primary-600, #158ecc) !important;
  border: 1px solid var(--Primary-600, #158ecc) !important;
}

.webIcon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: linear-gradient(180deg, #f2ebff 0%, #eee5ff 100%);
}

.formIcon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: linear-gradient(180deg, #fff9f1 0%, #fff0dc 100%);
}

.selectedCount {
  color: var(--Gray-700, #344054);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
}

.actionButton {
  display: flex;
  padding: var(--spacing-sm, 2px) var(--spacing-md, 2px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md, 8px);
  border-radius: 50%;
  border: 1px solid var(--Gray-300, #d0d5dd);
  background: #fff;
  height: 32px;
  width: 32px;
  cursor: pointer;

  &:hover {
    background: #FEF3F2;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.active {
  background: #ebf8ff !important;
}
