.fileName {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.175px;
  color: var(--Gray-700, #344054);
  max-width: 90%;
}

.fileSize {
  color: var(--Gray-600, #475467);
  text-align: justify;

  /* Body default */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.14px;
  max-width: 90%;
}

.fileAttachment  .downloadButton {
  display: none;
} 

.fileAttachment:hover .downloadButton {
  display: flex;
}

.downloadButton,
.downloadButton:focus,
.downloadButton:hover {
  width: 32px;
  height: 32px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 1px solid #dedede;
  background: transparent !important;
  box-sizing: border-box;
}