.mainHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EAECF0;
    padding: 24px;
    position: sticky;
    top: 0;
    background: #fff;
    .suppliersImgOpacity{
        border-radius: var(--radius-xs, 4px);
        border: 0.75px solid var(--Gray-900, #10182821);
        width: 56px;
        height: 56px;
        object-fit: cover; 
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px;
    }
    strong {
        color: var(--Gray-700, #344054);
        font-family: Inter;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.33px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .CustomEdit{
        border-radius: var(--radius-xs, 4px);
        border: 1px solid var(--Gray-300, #D0D5DD);
        background: #FFF;
        padding: var(--spacing-md, 7px) 14px;
        color: var(--Gray-800, #1D2939);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        &:hover{
            border-radius: var(--radius-xs, 4px);
        border: 1px solid var(--Gray-300, #D0D5DD);
        background: #FFF;
        padding: var(--spacing-md, 7px) 14px;
        color: var(--Gray-800, #1D2939);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        }
        svg {
            margin-left: 7px;
        }
    }
    .CustomCloseModal {
        border: 0;
        padding: 0;
        background: #fff;
        &:hover{
        border: 0;
        padding: 0;
        background: #fff;
        }
    }
}
.border{
    border: 0 !important;
}
.p0{
    padding: 0;
    background: var(--Base-White, #FFF);
    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
}


.mainScrollWrap {
    .marginBottom{
        margin-bottom: -16px;
    }
    padding-left: 24px;
    padding-right: 24px;
    overflow: auto;
    height: calc(100vh - 197px);

    // Webkit scrollbar styles
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 0px #fff;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #eaecf0;
        border-radius: 10px;

        &:hover {
            background: #d0d3d8; // Slightly darker on hover
        }
    }

    .displayFlexGrid {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 16px;
        margin-top: 24px;
        strong{
        color: var(--Gray-600, #475467);
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.18px;
        }
        span{
        color: var(--Gray-600, #475467);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px; 
        letter-spacing: 0.14px;
        }
    }
    .greyBox{
        border-radius: var(--radius-xs, 4px);
        background: var(--Gray-50, #F9FAFB);
        padding: var(--spacing-3xl, 24px) var(--spacing-xl, 16px);
        position: relative;
        .paragraphColor {
            color: var(--Gray-600, #475467);
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }
        .flexBoxWrap{
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
      
            .contactStar{
                position: absolute;
                right: 15px;
                top: 16px;
                display: flex;
                    align-items: center;
                    justify-content: center;
                    
                li{
                    border-radius: var(--radius-xs, 4px);
                    border: 1px solid var(--Gray-200, #EAECF0);
                    background: #FFF;
                    padding: var(--spacing-md, 8px);
                    width: 32px;
                    height: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 2px;
                    cursor: pointer;
                }
                .active{
                    border-radius: var(--radius-xs, 4px);
                    border: 1px solid var(--Primary-100, #BAE8FF);
                    background: var(--Primary-25, #F2FAFF);
                }
            }
          
        
       .labelColor{
        color: var(--Gray-500, #667085);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.14px;
        margin-bottom: 4px;
       }
       .paragraphColor{
        color: var(--Gray-600, #475467);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.14px;
       }
       .inputValue{
        color: var(--Gray-600, #475467);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; 
        letter-spacing: 0.08px;
        a{
            color: var(--Primary-700, #106B99);
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            letter-spacing: -0.08px;
            display: flex;
            align-items: center;
            svg{
                margin-left: 10px;
            }
            span{
                color: var(--Primary-700, #106B99);
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: -0.08px;
                min-width: 149px;
                overflow: hidden;
                display: inline-block;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
       }

    }
}

.FooterSuppliersView {
    border-top: 1px solid var(--Gray-200, #EAECF0);
    background: #FFF;
    margin-top: 6px;
    padding: 16px 24px;
    position: fixed;
    bottom: 0;
    width: 607px;
    .deleteSuppliers{
        border-radius: var(--radius-xs, 4px);
        border: 1px solid var(--Error-600, #D92D20);
        background: var(--Error-600, #D92D20);
        padding: var(--spacing-md, 8px) 14px;
        color: #FFF;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; 
        &:hover{
            border-radius: var(--radius-xs, 4px);
        border: 1px solid var(--Error-600, #D92D20);
        background: var(--Error-600, #D92D20);
        padding: var(--spacing-md, 8px) 14px;
        color: #FFF;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; 
        }

    }
    .cancelBut{
        padding: var(--spacing-md, 8px) 14px;
    border-radius: var(--radius-xs, 4px);
    border: 1px solid var(--Gray-300, #D0D5DD);
    background: #FFF;
    color: var(--Gray-800, #1D2939);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin-right: 12px;
        &:hover{
            padding: var(--spacing-md, 8px) 14px;
            border-radius: var(--radius-xs, 4px);
            border: 1px solid var(--Gray-300, #D0D5DD);
            background: #FFF;
            color: var(--Gray-800, #1D2939);
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            margin-right: 12px;
        }

    }
    .savesupplier{
        padding: var(--spacing-md, 8px) 14px;
        border-radius: var(--radius-xs, 4px);
        border: 1px solid var(--Primary-600, #158ECC);
        background: var(--Primary-600, #158ECC);
        color: #FFF;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        &:hover{
            padding: var(--spacing-md, 8px) 14px;
            border-radius: var(--radius-xs, 4px);
            border: 1px solid var(--Primary-600, #158ECC);
            background: var(--Primary-600, #158ECC);
            color: #FFF;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
        }

    }
}

.editsuppliersValue{
    input {
        border-radius: var(--radius-xs, 4px);
        border: 1px solid var(--Border, #D0D5DD);
        background: var(--Base-White, #FFF);
        padding: 10px 14px;
        color: var(--Gray-900, #101828);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.08px;
        outline: 0;
        &:focus{
            outline: 0;
           
            box-shadow: 0 0 0 0rem rgba(13, 110, 253, .25);
        }
     
    }
 
}


.addNewButton{
    .deleteBut {
        border-radius: var(--radius-xs, 4px);
        border: 1px solid var(--Error-200, #FECDCA);
        background: var(--Error-50, #FEF3F2);
        padding: var(--spacing-md, 8px) 14px;
        color: #B42318;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        margin-right: 12px;
        &:hover{
            border-radius: var(--radius-xs, 4px);
        border: 1px solid var(--Error-200, #FECDCA);
        background: var(--Error-50, #FEF3F2);
        padding: var(--spacing-md, 8px) 14px;
        color: #B42318;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        margin-right: 12px;
        }
    }
    .addNewBut{
            border-radius: var(--radius-xs, 4px);
            border: 1px solid var(--Primary-200, #A3E0FF);
            background: var(--Primary-50, #EBF8FF);
            padding: var(--spacing-md, 8px) 14px;
            color: var(--Primary-700, #106B99);
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            &:hover{
                border-radius: var(--radius-xs, 4px);
            border: 1px solid var(--Primary-200, #A3E0FF);
            background: var(--Primary-50, #EBF8FF);
            padding: var(--spacing-md, 8px) 14px;
            color: var(--Primary-700, #106B99);
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            }
        
    }

}

.react-international-phone-input-container .react-international-phone-country-selector-button
,.react-international-phone-input-container .react-international-phone-input {
    height: 47px;
}

.offcanvashWrap {
    width: calc(100% - 605px);
}
.clientHistoryPage{
    
     table thead tr th:nth-child(2) {
        position: sticky;
        left: 40px;
        z-index: 8;
        border-right: 1px solid var(--color10) !important;
        padding-left: 7px !important;
    }
    .backBut {
        border-radius: var(--radius-xs, 4px);
        border: 1px solid var(--Primary-200, #A3E0FF);
        background: var(--Primary-50, #EBF8FF);
        padding: 6px 8px;
        color: var(--Primary-700, #106B99);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        height: 36px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .centerTabSales {
        color: #344054;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.18px;
    }
    .filterSearch {
        border-radius: 4px;
        border: 1px solid var(--Border, #D0D5DD);
        background: var(--Base-White, #FFF);
        padding: 2px 8px;
        margin-left: 16px;
        width: 184px;
        height: 36px;
        display: flex;
        align-items: center;
        font-size: 16px;
        color: #98a2b3;
        input[type="text"] {
            color: var(--Gray-400, #98A2B3);
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            width: 100%;
            padding-left: 13px;
        }
    }
    .downloadBut {
        color: var(--Primary-600, #158ECC);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        background: transparent;
        border: 0;
        padding: 0;
        &:hover{
            color: var(--Primary-600, #158ECC);
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            background: transparent;
            border: 0;
            padding: 0; 
        }
        
    }
}
.circledesignstyle{
  
.out {
    border-radius: 28px;
    border: 6px solid var(--Success-50, #ECFDF3);
    background: var(--Success-100, #DCFAE6);
    padding: 6px;
}

}

.NewClientTabs{
   
    .dFlexTab {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        div {
         
            text-align: center;
            color: #344054;
            border-radius: var(--radius-xs, 4px);
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    
        }
      
    }
}
.iconstabs {
    background: var(--Primary-100, #BAE8FF);
    display: flex;
    width: 40px !important;
    height: 40px !important;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 100% !important;
    margin-right: 12px;
}