.circledesignstyle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: linear-gradient(0deg, #D1FADF 0%, #D1FADF 100%), linear-gradient(0deg, #ECFDF3 0%, #ECFDF3 100%);
  display: flex;
  justify-content: center;
  align-items: center;

  .out {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ECFDF3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.sectionTitle {
  color: var(--Gray-700, #344054);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.18px;
}

.bgGreay {
  margin: 0px;
  padding: 24px 5px;
  border-radius: var(--radius-xs, 4px);
  background: #f9fafb;
  margin-bottom: 24px !important;
}

.lable {
  color: var(--Gray-600, #475467);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.14px;
}

.inputText {
  width: 100%;
  padding: 10px 14px;
  border-radius: var(--radius-xs, 4px);
  border: 1px solid var(--Border, #d0d5dd);
  background: var(--Base-White, #fff);
  box-shadow: none !important;
  outline: none !important;
  font-family: Inter;
  color: var(--Gray-900, #101828) !important;
}

.dropdownSelect {
  width: 100%;
  border-radius: var(--radius-xs, 4px);
  border: 1px solid var(--Border, #d0d5dd);
  background: var(--Base-White, #fff);
  box-shadow: none !important;
  outline: none !important;
  font-family: Inter;
  color: var(--Gray-900, #101828) !important;
}

.error {
  border: 1px solid red !important;
}

textarea.inputText {
  resize: vertical;
  min-height: 100px;
}

.required {
  color: #ef4444;
  font-weight: 600;
  margin-left: 4px;
}

