.dropdown-menus .list-menu-item {
  cursor: pointer;
  border-radius: 6px;
  cursor: pointer;
}

.btn.active,
.dropdown-menus .list-menu-item:hover,
.dropdown-menus .list-menu-item.active {
  cursor: pointer;
  color: #0a4766;
  background-color: #ebf8ff;
}

.btn.active {
  border-radius: var(--radius-xs, 4px) !important;
  border: 1px solid var(--Primary-200, #a3e0ff) !important;
  background: var(--Primary-50, #ebf8ff) !important;
}
