.helpTitle {
  color: var(--Gray-900, #101828);
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 123.077% */
  letter-spacing: -0.39px;
  margin-bottom: 56px;
}

.helpContent {
  display: flex;
  gap: 16px;
}

.helpItem {
  width: 289px;
  height: 88px;
  display: flex;
  padding: 8px 24px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border-radius: 8px;
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 12px;
}

.helpItemText {
  color: #000;

  /* Body large */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.08px;
}
