.headerprofile{
    a{
        display: flex;
        align-items: center;
    }
}

.trialNote {
    top: 0;
    width: 100%;
    height: 30px;
    color: #fff;
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    position: sticky;
    background: #1AB2FF;
    position: relative;
}