.commentsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.commentsHeader {
    padding: 10px 0px;
}

.commentsTitle {
    font-size: 14px;
    font-weight: 600;
    color: #344054;
    margin: 0;
}

.commentsList {
    padding: 0 10px;
}

.commentItem {
    padding: 12px 0;
    border-bottom: 1px solid #F2F4F7;
    
    &:last-child {
        border-bottom: none;
    }
}

.userName {
    font-size: 14px;
    font-weight: 600;
    color: #101828;
}

.commentTime {
    font-size: 12px;
    font-weight: 400;
    color: #667085;
}

.commentText {
    font-size: 14px;
    font-weight: 400;
    color: #475467;
    margin: 0;
    line-height: 1.5;
    word-wrap: break-word;
}

.addCommentSection {
    padding: 16px 24px;
    border-top: 1px solid #EAECF0;
    width: 100%;
}