/* div#nav ,p#newtest{
    display: none;
}

.tabAcc ul {
    display: flex;
    align-items: center;
}
.headWrap h3 {
    color: var(--Gray-500, #667085);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.08px;
}
.headWrap h2 {
    color: var(--Gray-600, #475467);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.175px;
}
.headWrap span {
    border-radius: 16px;
    border: 1px solid var(--Warning-200, #FEDF89);
    background: var(--Warning-50, #FFFAEB);
    mix-blend-mode: multiply;
    padding: 2px 8px;
    color: var(--Warning-700, #B54708);
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}
.tabAcc ul li span {
    border-radius: 16px;
    border: 1px solid var(--Warning-200, #FEDF89);
    background: var(--Warning-25, #FFFCF5);
    mix-blend-mode: multiply;
    padding: 2px 8px;
    color: var(--Warning-500, #F79009);
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}
.tabAcc ul li {
    margin-right: 7px;
}
.calStyleBox01 .accordion-button {
    align-items: flex-start;
}
.calStyleBox01 .accordion-button::after {
    top: 5px !important;
    position: relative;
}
.month_default_event_inner {
    position: absolute;
    inset: 0px 1px;
    overflow: hidden;
    padding: 8px 2px 8px 40px !important;
    color: rgb(51, 51, 51);
    background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(238, 238, 238));
    border: 0px solid rgb(153, 153, 153) !important;
    border-radius: 4px !important;
    box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10), 0px 1px 2px 0px rgba(16, 24, 40, 0.06);
font-family: Inter !important;
font-size: 14px !important;
font-style: normal;
font-weight: 400 !important;
line-height: 22px !important;
letter-spacing: 0.14px !important;
}
.month_default_event {
    min-height: 40px;
} */

#calender .scheduler_default_rowheader_scroll,
.scheduler_default_scrollable {
  height: calc(100vh - 190px) !important;
}

#calender .scheduler_default_rowheader_inner_text h2 {
  color: var(--Gray-600, #475467);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.08px;
  max-width: 268px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.scheduler_default_rowheader_inner {
  position: relative;
  inset: 0px;
  border-right: 1px solid rgb(224, 224, 224);
  padding: 2px;
  display: flex;
  align-items: center;
}

.scheduler_default_timeheadergroup_inner.scheduler_default_timeheader_cell_inner {
  color: #475467;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.12px;
  border: 0;
  background: #fff;
}

.scheduler_default_timeheadercol_inner.scheduler_default_timeheader_cell_inner {
  color: #475467;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.12px;
  border: 0;
  background: #fff;
}

.scheduler_default_separator:after {
  position: absolute;
  content: "";
  background: #48c1ff;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  left: -4px;
  z-index: 9;
  top: 0;
}

.scheduler_default_cell.scheduler_default_cell_business {
  background-color: #fcfcfd;
}

.resourceList {
  border-top: 1px solid #eaecf0 !important;
}

.gantt_default_tree_image_expand {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxwYXRoIGQ9J00gMS41IDAuNSBMIDYuNSA1IEwgMS41IDkuNScgc3R5bGU9J2ZpbGw6bm9uZTtzdHJva2U6Izk5OTk5OTtzdHJva2Utd2lkdGg6MjtzdHJva2UtbGluZWpvaW46cm91bmQ7c3Ryb2tlLWxpbmVjYXA6YnV0dCcgLz48L3N2Zz4=");
}

.gantt_default_tree_image_collapse {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMTAnIGhlaWdodD0nMTAnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTSAwLjUgMS41IEwgNSA2LjUgTCA5LjUgMS41JyBzdHlsZT0nZmlsbDpub25lO3N0cm9rZTojOTk5OTk5O3N0cm9rZS13aWR0aDoyO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbGluZWNhcDpidXR0JyAvPjwvc3ZnPg==");
}

.eventInnerText {
  padding-left: 25px;
}

ul.resourceMan {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 9px 4px 9px 25px;
  background: #fcfcfd;
}

ul.resourceMan li {
  color: var(--Gray-500, #667085);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.12px;
  margin-right: 14px;
}

ul.resourceMan li span {
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  border-radius: 16px;
  background: var(--Warning-25, #fffcf5);
  mix-blend-mode: multiply;
  padding: 2px 8px;
}

ul.resourceMan li span.pending {
  color: var(--Warning-500, #f79009) !important;
  background: var(--Warning-25, #fffcf5) !important;
  border: 1px solid var(--Warning-200, #fedf89) !important;
}

ul.resourceMan li span.done {
  color: var(--Success-500, #17b26a) !important;
  background: var(--Success-25, #f6fef9) !important;
  border: 1px solid var(--Success-200, #a9efc5) !important;
}

ul.resourceMan li span.not-started {
  color: var(--Gray-500, #667085) !important;
  background: var(--Gray-50, #f9fafb) !important;
  border: 1px solid var(--Gray-300, #d0d5dd) !important;
}

ul.resourceMan li span.not-done {
  color: var(--Error-500, #f04438) !important;
  background: var(--Error-25, #fffbfa) !important;
  border: 1px solid var(--Error-200, #fecdca) !important;
}

.resourceList {
  text-align: left;
}

.resourceList .small {
  color: var(--Gray-500, #667085);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.08px;
  max-width: 268px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.resourceList h2 {
  color: var(--Gray-600, #475467);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.175px;
}

.resourceList em {
  border-radius: 16px;
  mix-blend-mode: multiply;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  padding: 2px 8px;
  /* color: var(--Warning-700, #b54708);
  background: var(--Warning-50, #fffaeb);
  border: 1px solid var(--Warning-200, #fedf89); */
}

.scheduler_default_event.job-item {
  margin-top: 40px !important;
  height: 48px !important;
}

.scheduler_default_event_inner {
  display: inline-grid;
  align-items: center;
}

.scheduler_default_event_inner ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scheduler_default_event_inner {
  border-radius: 5px;
  background: var(--Primary-100, #bae8ff);
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.1),
    0px 1px 2px 0px rgba(16, 24, 40, 0.06);
  border: 0;
  padding: 2px 9px 2px 20px;
}

.scheduler_default_event_inner ul li span,
.scheduler_default_event_float ul li span {
  border-radius: 225px;
  border: 2px solid var(--Primary-200, #a3e0ff);
  background: #f5f7f8;
  color: var(--Gray-600, #475467);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.15px;
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
}

.scheduler_default_tree_image_expand {
  background-image: url('data:image/svg+xml,<svg width="1em" height="1em" fill="667085" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.7 11.3l-6-6c-0.4-0.4-1-0.4-1.4 0s-0.4 1 0 1.4l5.3 5.3-5.3 5.3c-0.4 0.4-0.4 1 0 1.4 0.2 0.2 0.4 0.3 0.7 0.3s0.5-0.1 0.7-0.3l6-6c0.4-0.4 0.4-1 0-1.4z"></path></svg>') !important;
  width: 17px !important;
  height: 14px !important;
  top: 9px !important;
}

.scheduler_default_tree_image_collapse {
  background-image: url('data:image/svg+xml,<svg width="1em" height="1em" fill="%231AB2FF" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.7 11.3l-6-6c-0.4-0.4-1-0.4-1.4 0s-0.4 1 0 1.4l5.3 5.3-5.3 5.3c-0.4 0.4-0.4 1 0 1.4 0.2 0.2 0.4 0.3 0.7 0.3s0.5-0.1 0.7-0.3l6-6c0.4-0.4 0.4-1 0-1.4z"></path></svg>') !important;
  width: 17px !important;
  height: 17px !important;
  top: 9px !important;
  transform: rotate(-90deg);
  background: #ebf8ff;
  border-radius: 100%;
  display: inline-block;
}

.scheduler_default_event_float ul li span {
  margin-left: 20px;
}

.scheduler_default_rowheader_inner_text {
  margin-left: 0 !important;
  padding-left: 0;
}

.resourcesRow .scheduler_default_rowheader_inner_text .resourceList .small,
.resourcesRow .scheduler_default_rowheader_inner_text .resourceList h2,
.resourcesRow .scheduler_default_rowheader_inner_text .resourceList em {
  margin-left: 25px;
}

ul.eventStyleCal li:first-child span {
  background: linear-gradient(180deg, #f9fafb 0%, #edf0f3 100%);
  border-radius: 4px;
  border: 0.75px solid #d1d1d1;
  padding: 4px 0px 5px 4px;
  margin-right: 6px;
}

ul.eventStyleCal li:first-child {
  max-width: 85%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  padding-left: 14px;
}

.scheduler_default_event.job-item .scheduler_default_event_float_inner::after {
  top: 16px !important;
}

ul.eventStyleCal li:nth-child(2) {
  color: var(--Primary-800, #0a4766);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.14px;
}

ul.eventStyleCal {
  display: flex;
}

.scheduler_default_rowheader .resourceList:before {
  position: absolute;
  right: 0;
  content: "";
  background: var(--main-color);
  width: 5px;
  height: 130px;
  z-index: 10;
}

.scheduler_default_rowheader {
  position: relative;
}

#calender .scheduler_default_rowheader_inner {
  position: absolute;
  inset: 0px;
  border-right: 0px solid #eaecf0;
  padding: 0;
  display: inherit;
  align-items: center;
  background: #f2faff;
}

.scheduler_default_rowheader .scheduler_default_resourcedivider {
  background: transparent;
}

.scheduler_default_tree_image_collapse {
  right: 8px;
}

.scheduler_default_tree_image_expand {
  right: 8px;
}

.scheduler_default_event_inner {
  padding: 6px 19px !important;
  border-radius: 10px !important;
  box-shadow: 0px 3px 5px 0px rgba(16, 24, 40, 0.1),
    0px 3px 4px 0px rgba(16, 24, 40, 0.06) !important;
  border: 0 !important;
  display: block !important;
}

.scheduler_default_rowheader {
  text-align: left;
}

#calender .scheduler_default_tree_image_no_children {
  display: none;
}

#calender .scheduler_default_rowheader_inner_indent {
  margin-left: 0 !important;
}

.scheduler_default_rowheader_inner_text {
  color: var(--Gray-700, #344054);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.12px;
}

.scheduler_default_event {
  overflow: visible !important;
}

.my-event1 {
  padding: 7px 0;
}

.childEvent .childEventborder {
  border: 0 !important;
  border-radius: 0 !important;
  padding: 0 !important;
}

.childEvent .scheduler_default_event_inner {
  color: var(--Gray-700, #344054);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.12px;
  text-align: left;
  padding: 7px !important;
}

.task-list {
  display: flex;
  justify-content: space-between;
  padding: 0px 25px;
  height: 38px;
  margin-bottom: 4px;
}

.task-list .flex {
  display: flex;
}

.title-description-section {
  position: relative;
  top: -3px;
  padding-left: 5px;
}

.title-description-section .task-assigner {
  color: var(--Gray-700, #344054);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.125px;
  margin-bottom: 0px;
  display: block;
  max-width: 224px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title-description-section .task-title {
  color: var(--Gray-700, #344054);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.12px;
  margin-bottom: 0px;
  display: block;
  max-width: 224px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.create-task-div {
  height: 75px;
  display: flex;
  align-items: end;
  margin-left: 25px;
}

.create-task-div button {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  background-color: transparent !important;
  color: var(--Primary-600, #158ECC);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}


/* Project Card Model */
.projectCardModel .modal-dialog {
  min-width: 1284px;
}
strong.dollorIcon {
  border-radius: 28px;
  border: 0px solid var(--Error-50, #FEF3F2);
  background: var(--Error-100, #FEE4E2);
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.projectCardModel .cardId {
  margin-left: 16px;
  color: var(--Gray-700, #344054);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.27px;
}
.projectCardModel label select {
  border-radius: 16px;
  border: 1px solid var(--Error-100, #FEE4E2);
  background: var(--Error-50, #FEF3F2);
  mix-blend-mode: multiply;
  padding: 4px;
  color: var(--Error-700, #B42318);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin: 0 14px;
}
.projectCardModel .refrencesTag {
  color: var(--Gray-500, #667085);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.08px;
}
.projectCardModel .refrencesTag strong {
  color: var(--Gray-600, #475467);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.08px;
}
.projectCardModel .modal-header {
  border-bottom: 1px solid #EAECF0;
  padding: 16px 16px !important;
}

.customScrollBar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  padding: 5px;
}
.customScrollBar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px #F2F4F7; 
  border-radius: 10px;
}
.customScrollBar::-webkit-scrollbar-thumb {
  background: #76D1FF; 
  border-radius: 10px;
}
.customScrollBar::-webkit-scrollbar-thumb:hover {
  background: #76D1FF; 
}
.orderDiscription .customScrollBar {
  height: 137px;
  overflow: auto;
  color: var(--Text-Dark-Gray, #344054);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.08px;
  padding-right: 22px;
}
.orderDiscription strong {
  color: var(--Gray-800, #1D2939);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.08px;
}
.currentJobsTable h5 {
  color: var(--Gray-800, #1D2939);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.08px;
}
.currentJobsTable table thead th {
  color: #475467;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.12px;
}
.currentJobsTable table tbody td{
  color: var(--Gray-700, #344054);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.12px;
  height: 40px;
}
.currentJobsTable table tbody td:first-child ,.currentJobsTable table thead th:first-child {
  width: 136px;
  text-align: left;
}
.currentJobsTable table tbody td:last-child ,.currentJobsTable table thead th:last-child {
  width: 96px;
  text-align: center;
}
.currentJobsTable table tbody td:nth-child(2) ,.currentJobsTable table thead th:nth-child(2) {
  width: 230px;
  text-align: left;
}
.currentJobsTable table tbody td:nth-child(3) ,.currentJobsTable table thead th:nth-child(3) {
  width: 76px;
  text-align: center;
}
.currentJobsTable table tbody td:nth-child(4) ,.currentJobsTable table thead th:nth-child(4) {
  width: 116px;
  text-align: right;
}
.currentJobsTable table tbody td:first-child,.currentJobsTable table thead th:first-child {
  border-right: 1px solid var(--Gray-200, #EAECF0);
}
.currentJobsTable table {
  border-top: 1px solid var(--Gray-200, #EAECF0);
  border-bottom: 1px solid var(--Gray-200, #EAECF0);
  border-left: 1px solid var(--Gray-200, #EAECF0);
  background: var(--Base-White, #FFF);
}
.orderDiscription.col {
  border-right: 1px solid #EAECF0;
  padding: 16px 8px 8px 24px;
}
.tabModelMenu {
  border: 1px solid var(--Gray-300, #D0D5DD);
  background: var(--Base-White, #FFF);
  padding: 8px;
  border-radius: 6px;
  min-width: 89%;
}
.projectHistoryCol {
  padding: 16px 24px;
}
.tabModelMenu .col {
  text-align: center;
}
.tabModelMenu .linkByttonStyle {
  color: var(--Gray-700, #344054);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  padding: 0 24px;
}
.projectHistoryCol .filter span {
  border-radius: 4px;
  border: 1px solid var(--Gray-300, #D0D5DD);
  background: #FFF;
  padding: 10px;
}
.projectHistoryCol .filter {
  min-width: 11%;
}
.projectHistorygroup ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.projectHistorygroup ul li {
  display: flex;
  align-items: center;
  padding-right: 8px;
}
.projectHistorygroup ul li strong {
  color: var(--Text-Dark-Gray, #344054);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.08px;
}
.projectHistoryWrap h3 {
  color: var(--Gray-700, #344054);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.18px;
}
.projectHistorygroup h6 {
  color: var(--Gray-500, #667085);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.14px;
  margin: 0;
  padding: 0;
}
.projectHistorygroup p {
  color: var(--Gray-400, #98A2B3);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.1px;
  margin: 0;
  padding: 0;
}
.projectHistoryScroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  padding: 5px;
}
.currentJobsTable .table-responsive::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  /* padding: 5px; */
}
.projectHistoryScroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px #F2F4F7; 
  border-radius: 10px;
}
.currentJobsTable .table-responsive::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px #F2F4F7; 
  border-radius: 10px;
}
.projectHistoryWrap {
  margin-top: 16px;
}
.projectHistoryScroll::-webkit-scrollbar-thumb {
  background: #76D1FF; 
  border-radius: 10px;
}
.currentJobsTable .table-responsive::-webkit-scrollbar-thumb {
  background: #76D1FF; 
  border-radius: 10px;
}
.projectHistoryScroll::-webkit-scrollbar-thumb:hover {
  background: #76D1FF; 
}
.currentJobsTable .table-responsive::-webkit-scrollbar-thumb:hover {
  background: #76D1FF; 
}
.projectHistoryScroll {
  height: 478px;
  overflow: auto;
  margin-right: 15px;
}
.projectHistorygroup {
  margin-bottom: 18px;
}
.projectHistorygroup:last-child {
  margin-bottom: 0px;
}

.currentJobsTable .table-responsive {
  height: 478px;
}
.currentJobsTable table tbody td span {
  color: var(--Error-700, #B42318);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  border-radius: 16px;
  border: 1px solid var(--Error-200, #FECDCA);
  background: var(--Error-50, #FEF3F2);
  mix-blend-mode: multiply;
  padding: 2px 8px;
  white-space: nowrap;
}
.projectCardButWrap button,.projectCardButWrap button:hover {
  border-radius: 4px;
  border: 1px solid var(--Gray-300, #D0D5DD);
  background: var(--Base-White, #FFF);
  padding: 10px 18px;
  color: var(--Gray-700, #344054);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projectCardButWrap .col {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 29px 38px;
}