.quotationWrapperPage{
    background: var(--BG, #fff);
    padding-top: 40px;
    width: 100%;
    
    position: relative;
    &::before{
        background: #F7F9FC;
        height: 515px;
        width: 100%;
        top: 0;
        position: absolute;
        content: "";
    }
.quotationWrapper{
    border-radius: 4px 4px 0 0;
    padding: 51px 51px 0 51px;
    background: #FFF;
    box-shadow: 0px 20.652px 27.536px -6.884px rgba(16, 24, 40, 0.08), 0px 6.884px 10.326px -3.442px rgba(16, 24, 40, 0.03);
    width: 1024px;
    height: calc(100vh - 132px);
    margin: 0 auto;
    z-index: 9;
    position: relative;
    .quotationHead{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left{
            h1{
                color: var(--Gray-900, #1A1C21);
                font-size: 48.188px;
                font-style: normal;
                font-weight: 600;
                line-height: 55.072px; 
                text-transform: capitalize;
                margin: 0;
            }
            span{
                background: var(--Gray-800, #1D2939);
                padding: 2px 6.884px;
                color: var(--Colors-Foreground-fg-white, #FFF);
                font-size: 18.931px;
                font-style: normal;
                font-weight: 500;
                line-height: 27.536px;
                letter-spacing: 0.568px;
                text-transform: uppercase;
            }
        }
    }
}
}


.quotationRefress{
    display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 13px;
        .left{
            width: 50%;
            p{
                color: var(--Gray-800, #1D2939);
                font-size: 13.768px;
                font-style: normal;
                font-weight: 500;
                line-height: 20.652px; 
                letter-spacing: 0.138px;
                margin: 0;
            }
        }
        .right{
            width: 50%;
            p{
                color: var(--Gray-800, #1D2939);
                font-size: 15.489px;
                font-style: normal;
                font-weight: 400;
                line-height: 24.094px; 
                margin: 0;
                strong{
                    color: var(--Gray-800, #1D2939);
                    font-size: 15.489px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24.094px; 
                }
            }
        }
}
.quotationAddress{
    display: flex;
    align-items: flex-start;
        justify-content: space-between;
        margin-top: 30px;
        .left{
            width: 50%;
            p{
                color: var(--Gray-600, #475467);
                font-size: 15.489px;
                font-style: normal;
                font-weight: 400;
                line-height: 24.094px; 
                margin-bottom: 5px;
            }
            ul{
                li{
                    color: var(--Gray-800, #1D2939);
                    font-size: 15.489px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24.094px; 
                    letter-spacing: 0.155px;
                    padding: 3px 0;
                    strong{
                        color: var(--Gray-800, #1D2939);
                        font-size: 15.489px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24.094px;
                        letter-spacing: 0.194px;
                    }
                    
                }
            }
        }
        .right{
            width: 50%;
            p{
                color: var(--Gray-600, #475467);
                font-size: 15.489px;
                font-style: normal;
                font-weight: 400;
                line-height: 24.094px; 
                margin-bottom: 5px;
            }
            ul{
                li{
                    color: var(--Gray-800, #1D2939);
                    font-size: 15.489px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24.094px; 
                    letter-spacing: 0.155px;
                    padding: 3px 0;
                    strong{
                        color: var(--Gray-800, #1D2939);
                        font-size: 15.489px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24.094px;
                        letter-spacing: 0.194px;
                    }
                    
                }
            }
        }
}


.quotationtable{
    margin: 30px auto 0;
    background: #fff;
    border-radius: 0 0 4px 4px;
    background: #FFF;
    z-index: 9;
    position: relative;
    box-shadow: 0px 20.652px 27.536px -6.884px rgba(16, 24, 40, 0.08), 0px 6.884px 10.326px -3.442px rgba(16, 24, 40, 0.03);
}









.quotationfooter{
    position: sticky;
    bottom: 0;
    background: #FFF;
    box-shadow: 0px -2px 5px 0px rgba(16, 24, 40, 0.10), 0px 1px 2px 0px rgba(16, 24, 40, 0.06);
    .contanerfooter{
        width: 1024px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 0px;
        .right{
            display: flex;
         }
        a{
            border-radius: var(--radius-xs, 4px);
            border-radius: var(--radius-xs, 4px);
            border: 1px solid var(--Gray-300, #D0D5DD);
            background: #FFF;
            display: flex;
            padding: var(--spacing-lg, 12px) var(--spacing-2xl, 20px);
            justify-content: center;
            align-items: center;
            color: var(--Gray-700, #344054);
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px; 
           
            &.decline{
                border: 1px solid var(--Error-200, #FECDCA);
                background: var(--Error-50, #FEF3F2);
                color: var(--Error-700, #B42318);
            }
            &.accept{
                border: 1px solid var(--Success-600, #079455);
                background: var(--Success-600, #079455);
                color: #fff;
                margin-left: 12px;
            }
                    }


    }
}

.qupteMainColWrap{
    h2{
        color: var(--Gray-700, #344054);
        font-size: 17.21px;
        font-style: normal;
        font-weight: 400;
        line-height: 27.536px;
        letter-spacing: 0.172px;
        margin: 0;
    }
    ul{
        p{
            color: var(--Gray-500, #667085);
            font-size: 13.768px;
            font-style: normal;
            font-weight: 400;
            line-height: 20.652px; 
            letter-spacing: 0.138px;
            margin: 0;
        }
        li{
            color: var(--Gray-500, #667085);
            font-size: 13.768px;
            font-style: normal;
            font-weight: 400;
            line-height: 20.652px; 
            letter-spacing: 0.138px;
            list-style: disc;
            margin-left: 15px;
        }
    }
}
.quoteWrapTable{
    tr{
        th{
            border: 0;
            color: var(--Gray-900, #101828);
            font-size: 13.768px;
            font-style: normal;
            font-weight: 400;
            line-height: 24.094px; 
            text-align: right !important;
            justify-content: flex-end;
            background: #F9FAFB;
        }
    }
    tr{
        td{
            border: 0;
            color: var(--Gray-500, #667085);
            font-size: 17.21px;
            font-style: normal;
            font-weight: 400;
            line-height: 24.094px; 
            letter-spacing: 0.172px;
            background: #fff !important;
        }
    }
}


.qupteMainColFooter{
    h2{
        color: var(--Gray-800, #1D2939);
        font-size: 9px;
        font-style: normal;
        font-weight: 600;
        line-height: 14px; 
        letter-spacing: 0.113px;
    }
    p{
        color: var(--Gray-600, #475467);
        font-size: 8px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0.08px;
    }
}
.footerBoldText{
    color: var(--Gray-900, #101828) !important;
    font-size: 9px!important;
    font-style: normal!important;
    font-weight: 600!important;
    line-height: 14px!important;
}
.footerBoldTextLight{
    color: var(--Gray-800, #1D2939)!important;
    font-size: 9px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 14px!important;
}
.logoWrapperFooter{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    p{
        color: var(--Gray-500, #667085);
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        img{
            width: 37px;
            margin-left: 10px;
        }
    }
}