.emailUnavailableText {
  color: var(--Gray-800, #1d2939);
  text-align: center;

  /* Text md/Regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
