:root {
  --neutral20: #d0d0d0; /* Default color if not set by JS */
}

.button {
  background-color: white;
  border: 1px solid #ddd;
  padding: 4px 12px;
  height: 44px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error {
  border-color: #dc3545;
}

.selectedValue {
  color: #101828;
}

.placeholder {
  color: #98a2b3;
}

.select {
  position: absolute;
  width: 100%;
  border: none;
}

.menu {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 0 1px hsla(218, 50%, 10%, 0.1),
    0 4px 11px hsla(218, 50%, 10%, 0.1);
  margin-top: 8px;
  position: absolute;
  z-index: 2;
  width: 100%;
}

.blanket {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
}

.dropdown {
  position: relative;
}

.dropdownIndicator {
  color: var(--neutral20);
  height: 28px;
  width: 32px;
}
