.ellipsis {
  color: #101828;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.deletedRow {
  background-color: #fef3f2 !important;
}

.location {
  padding: 4px;
  border-radius: 4px;
  &:hover {
    background-color: #f2faff;
  }
}

.webIcon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: linear-gradient(180deg, #f2ebff 0%, #eee5ff 100%);
}

.formIcon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: linear-gradient(180deg, #fff9f1 0%, #fff0dc 100%);
}
