.circledesignstyle {
  .out {
    border-radius: 28px;
    border: 8px solid var(--Success-50, #EBF8FF);
    background: var(--Success-100, #BAE8FF);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    padding: 6px;
  }
}
